body{
    background: linear-gradient(35deg,#62b6cb 40%,#defff2);
    margin: 40px auto;
    text-align: center;
    height: 100vh;
}

button{
    height: 34px;
    border-radius: 5px;
    border: none;
    /* border: 2px solid #fdfcdc; */
    margin-top:30px;
    margin: 5px 10px;
    padding:5px 20px;
    background-color: #fdfcdc;
    font-size: 14px;
    box-shadow: 2px 2px #1B4965;
    transition: .3s;

}

button>a{
    text-decoration: none;
    list-style-type: none;
    color:#1B4965;
    transition: .3s;
    font-weight: 700;
}

button:hover{
    background-color: #1B4965;
    box-shadow: none;
}

button:hover>a{
    color:#fdfcdc;
    display: block;
}


h2{
    color: #fdfcdc;
    font-size: 34px;
    text-shadow: 2px 2.5px #1B4965;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-weight: 400;
    font-size: 14px;
    color: #62b6cb;
    letter-spacing: 3px;
}

main{
    padding: 80px 0;
    color:#1B4965;
    font-weight: 600;
    font-size: 26px;
}

hr{
    border: none;
    border-top: 5px solid #1B4965;
    color:#1B4965;
    margin: 20px auto;
    max-width: 600px;
}

input[type=text]{
    border:none;
    border-radius: 5px;
    padding:9px 10px;
    outline: none;
    margin: 40px 0px 30px 0px;
    box-shadow: 2px 2px #1b4965;
}

input[type=text]:focus {
    border: none;
    background-color: none;
  }

.txt{
    color:#fdfcdc;
    font-weight: 400;
    font-size: 20px;
}

.todos{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.todos>label{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color:#fdfcdc;
    padding: 10px 20px;
}